<div id="map-{{ hash }}" class="map inline google-place" style="width: {{ width }}; height: {{ height }}"
     data-placeid="{{ placeid }}"
     data-zoom="{{ zoom }}"
     data-scrollwheel="{{ scrollwheel }}"
     data-draggable="{{ draggable }}"
     data-pancontrol="{{ pancontrol }}"
     data-iconurl="{{ iconurl }}"
     >
</div>
